<br />
<br />
<div class="container marginTop1">
    <br />
    <img src="~/img/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco</p>
        <p>
            <span class="float-left mr-2">
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <h5><email-tag-helpers endereco="freedy.carvalho@gmail.com" conteudo="Enviar um e-mail"></email-tag-helpers></h5>
            <br />
            <span class="float-left mr-2">
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>(11) 9 9622 1374</h5>
            <br />
            <span class="float-left mr-2">
                <img src="~/img/Home-iconred.png" />
            </span>
            <h5>Av. Paulista, 2099, 13º andar, sala 1322, 01314-000, São Paulo, SP</h5>
        </p>
    </div>

</div>