@model LancheListViewModels

    <div style="margin-top:3%;">
        <h2>@Model.CategoriaAtual</h2>
    </div>

    <div class="row">

        @foreach (Lanche lanche in Model.Lanches)
        {
            @*Html.Partial("_LanchesResumo", lanche);*@
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
